extends layout

block content
  h1= title
  - results = [{company: 'Mercedes Benz', isAutomatic: true, makeYear: 2020}, {company: 'Audi', isAutomatic: false, makeYear: 2021},{company: 'BMW', isAutomatic: true, makeYear: 2010} ]
  div(class="container-fluid")
      each item in results
        div(class="row")
          div(class="col-sm-2")  #{item.company}
          div(class="col-sm-2")  #{item.makeYear}
          div(class="col-sm-2")  #{item.isAutomatic}


